In [3]:
!pip install pandas

Requirement already satisfied: pandas in /home/manudev/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/manudev/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/manudev/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /home/manudev/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /home/manudev/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [16]:
import numpy as np # linear algebra
import pandas as pd # (data preprocessing,CSV file I/O (e.g) pd.read_csv)
import os
import gc
import re
import seaborn as sns
import nltk
import warnings
warnings.filterwarnings('ignore')

In [8]:
train = pd.read_csv('info_train.csv')
test = pd.read_csv('info_test.csv')
sub = pd.read_csv('sample_submission.csv')

datasrc = pd.read_csv('datasources.csv')
cdtrain = pd.read_csv('codes_train.csv')
cdtest = pd.read_csv('codes_test.csv')
train

     notebook_id            date_evaluated         tier  total_execution_time
0     eca89c0554  2022-04-08T07:47:07.470Z       MASTER           5573.173455
1     021bbc7ee2  2022-08-02T09:49:22.587Z  CONTRIBUTOR            152.800169
2     a2137a2ae8  2022-04-28T06:09:43.927Z       EXPERT           3110.543580
3     a655fbe4b8  2022-02-06T05:44:17.220Z  CONTRIBUTOR             74.077047
4     1b318124e3  2021-09-23T00:27:19.700Z          NaN             13.374717
...          ...                       ...          ...                   ...
2953  87db7e7138  2022-08-04T03:53:21.637Z  CONTRIBUTOR             38.732182
2954  1ff1de7740  2022-08-14T09:49:15.753Z  CONTRIBUTOR           1268.031509
2955  6492d38d73  2020-12-13T17:02:32.010Z          NaN            348.246678
2956  8216124282  2021-09-30T17:11:49.553Z  CONTRIBUTOR            296.508680
2957  838e8afb1c  2022-03-28T19:51:47.957Z       EXPERT            694.680458

[2958 rows x 4 columns]

In [9]:
datasrc

,notebook_id,file_name,total_columns,total_rows,file_extension,file_size
0,cfcd208495,Breast_Cancer,16.0,4024.0,.csv,396119.0
1,c4ca4238a0,sample_submission,4.0,64.0,.csv,1914.0
2,c4ca4238a0,train,4.0,11218.0,.csv,471056.0
3,c4ca4238a0,tf_efficientnet_b5_ap-456,NaN,NaN,.pt,114218400.0
4,c4ca4238a0,timm,NaN,NaN,.tgz,22647078.0
...,...,...,...,...,...,...
48183,bcfa8a783a,train,82.0,21263.0,.csv,23859780.0
48184,f1920129f9,gender_submission,2.0,418.0,.csv,3258.0
48185,f1920129f9,test,11.0,418.0,.csv,28629.0
48186,f1920129f9,train,12.0,891.0,.csv,61194.0
48187,f1920129f9,titanic_submission_9,NaN,NaN,.csv,2839.0

In [10]:
cdtest

,notebook_id,code_cell,source
0,c4ca4238a0,0,!mkdir -p ../work\n\n!cd ../work && tar xfz .....
1,c4ca4238a0,1,import os\n\nimport numpy as np\n\nimport pand...
2,c4ca4238a0,2,debug = True\n\nif debug:\n\n epochs = 3\n\...
3,c4ca4238a0,3,"df = pd.read_csv(""../input/dfl-bundesliga-data..."
4,c4ca4238a0,4,def extract_training_images(args):\n\n ...
...,...,...,...
52752,6562c5c1f3,16,"train, test = train_test_split(scaled_data, te..."
52753,6562c5c1f3,17,residual = pd.DataFrame(model_fit.resid)\n\nre...
52754,6562c5c1f3,18,"preds = model_fit.predict(start='1959-10-01', ..."
52755,6562c5c1f3,19,"from sklearn.metrics import r2_score, mean_squ..."
52756,6562c5c1f3,20,test_set = np.exp(test)\n\npredictions = np.ex...

In [11]:
cdtest[cdtest['notebook_id']=='86dba86754']

,notebook_id,code_cell,source
49079,86dba86754,0,"import os\n\nfor dirname, _, filenames in os.w..."
49080,86dba86754,1,#Load data-preprocessing libraries\n\nimport p...
49081,86dba86754,2,#Load training data\n\ndf_data=pd.read_csv('/k...
49082,86dba86754,3,#Load test data\n\ndf_test=pd.read_csv('/kaggl...
49083,86dba86754,4,#Function to rename the columns to get a bette...
49084,86dba86754,5,#Rename train data\n\nrename_dataframe(df_data...
49085,86dba86754,6,#Rename test data\n\nrename_dataframe(df_test)...
49086,86dba86754,7,"#shape of data\n\nprint('Train data shape: ',d..."
49087,86dba86754,8,#percentage of missing data\n\n(df_data.isnull...
49088,86dba86754,9,#As only 0.91% of data in Tweet features are n...
49089,86dba86754,10,#check percentage of missing data after droppi...
49090,86dba86754,11,df_data.info()
49091,86dba86754,12,"print('Distinct Values: \n')\n\ncol=['Topic','..."
49092,86dba86754,13,#Visualizing Sentiment feature - Target featur...
49093,86dba86754,14,#Get the count of words in each tweet\n\ndf_da...
49094,86dba86754,15,"plt.figure(figsize=(15,10))\n\nplt.subplot(2,1..."
49095,86dba86754,16,#Extreme outliers\n\nextreme_outliers = df_dat...
49096,86dba86754,17,#Get count of characters in each tweet excludi...
49097,86dba86754,18,"plt.figure(figsize=(15,10))\n\nplt.subplot(2,1..."
49098,86dba86754,19,NaN
49099,86dba86754,20,#Remove user mentions from the tweets\n\n#'I w...
49100,86dba86754,21,#Remove hashtags from the tweets\n\n#'My new h...
49101,86dba86754,22,# make a dictionary of contractions\n\ncontrac...
49102,86dba86754,23,#Remove contractions\n\ndf_data['Tweet_clean']...
49103,86dba86754,24,#Remove links/urls from the tweets\n\ndf_data[...
49104,86dba86754,25,def txt_conversion(sentence):\n\n #Getting ...
49105,86dba86754,26,df_data['Tweet_clean']=df_data['Tweet_clean']....
49106,86dba86754,27,#Removing stop-words and cpnverting words to l...
49107,86dba86754,28,df_data['Tweet_clean']=df_data['Tweet_clean']....
49108,86dba86754,29,#Drop columns that are not required\n\ndf_data...
49109,86dba86754,30,"df_data.dropna(axis=0,how='any',inplace=True)"
49110,86dba86754,31,"plt.figure(figsize=(15,10))\n\n\n\nplt.subplot..."
49111,86dba86754,32,NaN
49112,86dba86754,33,#Seperate dependent and independent features\n...
49113,86dba86754,34,#TF-IDF\n\nvectorizer = TfidfVectorizer(stop_w...
49114,86dba86754,35,#Function to fit and apply a model\n\ndef mode...
49115,86dba86754,36,#Multinomail Naive Bayes\n\nnb=MultinomialNB()...
49116,86dba86754,37,#Logistic Regression\n\nlr=LogisticRegression(...
49117,86dba86754,38,#Decision Tree\n\ndtc=DecisionTreeClassifier(r...
49118,86dba86754,39,#Random Forest\n\nrf=RandomForestClassifier(ra...
49119,86dba86754,40,NaN

In [12]:
sub

     notebook_id  total_execution_time
0     86dba86754                   0.0
1     57aeee35c9                   0.0
2     33267e5dc5                   0.0
3     cf67355a33                   0.0
4     831caa1b60                   0.0
...          ...                   ...
1589  9d068c869f                   0.0
1590  6b5754d737                   0.0
1591  d91d1b4d82                   0.0
1592  61f2585b0e                   0.0
1593  a67f096809                   0.0

[1594 rows x 2 columns]

In [13]:
cdtrain['source'].sample(20).values

array(['df_numeric = df.loc[:, numeric_list]\n\nsns.pairplot(df_numeric, hue = "output", diag_kind = "kde")\n\nplt.show()',
       "FileLinks('.')\n",
       "# extracting titles from Name column.\n\nfor dataset in train_test_data:\n\n    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\\.')",
       "def odt_plots(df,col):\n\n    f,(ax1,ax2,ax3)=plt.subplots(1,3,figsize=(20,20))\n\n    \n\n    #box plot for descriptive stats\n\n    \n\n    sns.boxplot(df[col],ax=ax1,color='red')\n\n    ax1.set_title(col+ '  '+'Boxplot')\n\n    ax1.set_xlabel('Boxplot')\n\n    ax1.set_ylabel('Values')\n\n    \n\n    \n\n    \n\n    #plotting histogram with outliers\n\n    \n\n    sns.distplot(df[col],ax=ax2,color='blue')\n\n    ax2.set_title(col+ '  '+'Histogram with outliers')\n\n    ax2.set_xlabel('Histogram')\n\n    ax2.set_ylabel('Values')\n\n    \n\n    #plotting histogram after treating outliers\n\n    \n\n    y = replace_outlier(df,col)\n\n    \n\n    sns.distplot(y[col],ax=ax3,color='green')\n\n    ax3.set_title(col+ '  '+'Histogram without outliers')\n\n    ax3.set_xlabel('Histogram')\n\n    ax3.set_ylabel('Values')\n\n    ",
       "plt.hist(pred, alpha=0.4, label='prediction')\n\nplt.hist(valid_set['y'], alpha=0.4, label='actual target')\n\nplt.legend(frameon=False)",
       "# Model Evaluation on test data\n\n\n\n# Summary of the predictions made by the classifier\n\nprint(classification_report(y_test,pred_test))\n\nprint(confusion_matrix(y_test,pred_test))\n\n\n\n# Accuracy score\n\nprint('Accuracy Score of Model on test data is: {}' .format(accuracy_score(y_test,pred_test)))",
       "eda.Sex.replace({0:'male',1:'female'}, inplace=True)\n\neda.Education.replace({0 :'other / unknown',1: 'high school',2: 'university',3: 'graduate school'}, inplace=True)\n\neda['Marital status'].replace({0 :'single',1 :'non-single'}, inplace=True)\n\neda.Occupation.replace({0 :'unemployed',1: 'official',2: 'management / self-employed'}, inplace=True)\n\neda['Settlement size'].replace({0: 'small city',1: 'mid-sized city',2: 'big city'}, inplace=True)",
       '# using the model for prediction\n\n\n\nsent = """आप कितना सोचते हो\n\nअगर आप ठिठुरती रातों को गिनें\n\nअरे क्या आप मिल सकते हैं (अरे, क्या आप मिल सकते हैं?)\n\nक्या तुम मिलोगे (क्या तुम मिलोगे?)\n\nसर्दियों का अंत बताओ\n\nएक कोमल वसंत के दिन तक\n\nमैं चाहता हूं कि तुम तब तक रहो जब तक फूल खिल न जाएं\n\nज्यों का त्यों"""\n\n\n\n\n\nsent = cv.transform([sent])\n\nans = model.predict(sent)\n\nans = np.argmax(ans)\n\nle.inverse_transform([ans])',
       "import gc\n\nimport os\n\nimport sys\n\nimport time\n\nimport pickle\n\nimport random\n\nfrom tqdm import tqdm\n\nimport numpy as np\n\nimport pandas as pd\n\nfrom tqdm.notebook import tqdm\n\nfrom sklearn.metrics import log_loss\n\nfrom sklearn.model_selection import StratifiedKFold\n\n\n\nimport torch\n\nimport transformers\n\nimport torch.nn as nn\n\nimport torch.nn.functional as F\n\nfrom torch.cuda.amp import GradScaler, autocast\n\nfrom torch.utils.data import Dataset, DataLoader\n\nfrom transformers import AutoModel, AutoTokenizer, AdamW, get_linear_schedule_with_warmup\n\n\n\nimport warnings\n\nwarnings.simplefilter('ignore')",
       'df.info()',
       "# removing unnecessary columns\n\n\n\ncol = ['Unnamed: 0', 'salary', 'salary_currency']\n\ndf = salary.drop(col, axis = 1,)",
       "from sklearn.naive_bayes import GaussianNB\n\n\n\nnb_G = GaussianNB()\n\nnb_G.fit(xlr_train,ylr_train)\n\n\n\nynb_hat = nb_G.predict(xlr_test)\n\n\n\nco_ma = confusion_matrix(ylr_test,ynb_hat)\n\nprint('C-M:', co_ma)\n\nprint(classification_report(ylr_test,ynb_hat))\n\n\n\n\n\nfpr, tpr, threshold = metrics.roc_curve(ylr_test, ynb_hat);\n\nroc_auc = metrics.auc(fpr, tpr);\n\n\n\nplt.title('Receiver Operating Characteristic');\n\nplt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc);\n\nplt.legend(loc = 'lower right');\n\nplt.plot([0, 1], [0, 1],'r--');\n\nplt.xlim([0, 1]);\n\nplt.ylim([0, 1]);\n\nplt.ylabel('True Positive Rate');\n\nplt.xlabel('False Positive Rate');",
       '# Create a SHAP Dependence plot of the 2nd highest ranked feature - "Product_Info_4".\n\n\n\nshap.dependence_plot("rank(1)", shap_values[1], X_test_L1reg)',
       'df_preprocessed.isnull().mean() * 100',
       'print("Memory usage for object col (as category dtype) in bytes :" ,\n\n      df[\'object\'].astype(\'category\').memory_usage(deep=True))',
       'plt.figure(figsize=(30,14))\n\nsns.boxplot(data=raw_data)\n\nplt.show()',
       "df = pd.read_csv('../input/heart-attack-analysis-prediction-dataset/heart.csv')\n\ndf",
       "student_score = []\n\n\n\nfor course in preparation_course:\n\n    reading_score_course = students_performance['reading score'][students_performance['test preparation course'] == course]\n\n    mean_reading_score_course = int(reading_score_course.mean())\n\n    student_score.append(mean_reading_score_course)\n\n\n\nmean_reading_preparation_courses = pd.DataFrame(data=[student_score], columns=preparation_course)\n\n\n\nsns.barplot(data=mean_reading_preparation_courses);",
       " data[data['gender']=='Other'].index",
       'def find_local_minima(volume, height, width):\n\n    """\n\n    Finds the two smallest local minima in the \n\n    cost volume for all pixels.\n\n\n\n    Arguments:\n\n        - volume: Array containing the matching costs for \n\n            all pixels at all disparities, with dimension H x W x D.\n\n        - height: number of rows of the image.\n\n        - width: number of columns of the image.\n\n        \n\n    Returns: The global mimimum costs, c1, for all pixels with dimension H x W, \n\n        and the second local minimum costs, c2m, for all pixels with dimension H x W.\n\n    """\n\n\n\n    c1 = np.zeros(shape=(height, width), dtype=np.int32)\n\n    c2m = np.zeros(shape=(height, width), dtype=np.int32)\n\n\n\n    for y in range(height):\n\n        for x in range(width):\n\n            minimum = np.min(volume[y, x, :])\n\n            maximum = np.max(volume[y, x, :])\n\n            # Get local minima indices\n\n            local_min_disparities = argrelextrema(volume[y, x, :], np.less)[0]\n\n            # Get local minima values\n\n            local_min_costs = np.take(volume[y, x, :], local_min_disparities)\n\n            local_min_costs = np.sort(local_min_costs)\n\n            # If there of no troughs, then the values are either flat or monotonic. \n\n            # In either case we can take c1 to be the min cost and c2m as the max.\n\n            if local_min_costs.size < 1:\n\n                c1[y, x] = minimum\n\n                c2m[y, x] = maximum\n\n            # If there is only one trough, then the trough is either the local min or global min.\n\n            # If the trough cost is equal to the min of all values, \n\n            # then the trough is the global min, otherwise its a local min.\n\n            elif local_min_costs.size < 2:\n\n                if local_min_costs[0] == minimum:\n\n                    c1[y, x] = local_min_costs[0]\n\n                    c2m[y, x] = maximum\n\n                else:\n\n                    c1[y, x] = minimum\n\n                    c2m[y, x] = local_min_costs[0]\n\n            # Ideal case when we have two or more troughs, then we can just take the smallest two troughs\n\n            else:\n\n                c1[y, x] = local_min_costs[0]\n\n                c2m[y, x] = local_min_costs[1]\n\n    return c1, c2m\n'],
      dtype=object)

In [14]:
cdtrain.columns

Index(['notebook_id', 'code_cell', 'source', 'execution_time'], dtype='object')

In [17]:
%%time
import string
punctuation=string.punctuation

def create_feats(df_review):
    df_review['source'].fillna('None',inplace=True)
    df_review['word_count']=df_review['source'].apply(lambda x: len(str(x).split(" ")))
    df_review['char_count'] = df_review['source'].str.len()
    def avg_word(sentence):
        words = sentence.split()
        return (sum(len(word) for word in words)/(len(words)+1))

    df_review['avg_word'] = df_review['source'].apply(lambda x: avg_word(x))
    from nltk.corpus import stopwords
    stop = stopwords.words('english')
    nltk.download('stopwords')

    df_review['stopwords'] = df_review['source'].apply(lambda x: len([x for x in x.split() if x in stop]))
    df_review['numerics'] = df_review['source'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
    df_review['upper'] = df_review['source'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
    df_review['word_density'] = df_review['char_count'] / (df_review['word_count']+1)
    df_review['punctuation_count'] = df_review['source'].apply(lambda x: len("".join(_ for _ in x if _ in punctuation))) 

    df_review['identifiers'] = df_review['source'].apply(lambda x: x.count('#')+x.count('@')+x.count('http'))
    df_review['os'] = df_review['source'].apply(lambda x: x.count('!')+x.count('pip')+x.count('os'))
    df_review['import'] = df_review['source'].apply(lambda x: x.count('import'))
    df_review['plot'] = df_review['source'].apply(lambda x: x.count('plot')+x.count('sns.')+x.count('plt.'))
    df_review['deeplr'] = df_review['source'].apply(lambda x: x.count('keras.')+x.count('torch.'))
    df_review['train_pred'] = df_review['source'].apply(lambda x: x.count('fit')+x.count('predict')+x.count('predict_proba'))
    df_review['model'] = df_review['source'].apply(lambda x: x.count('Regressor')+x.count('Classifier')+x.count('Kmeans'))
    df_review.drop(['source'],axis=1,inplace=True)
    return df_review



cols = ['notebook_id', 'code_cell', 'source', 'execution_time']


df = cdtrain.append(cdtest,ignore_index=True)
df = create_feats(df)

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - '/home/manudev/nltk_data'
    - '/home/manudev/anaconda3/nltk_data'
    - '/home/manudev/anaconda3/share/nltk_data'
    - '/home/manudev/anaconda3/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************